::placeholder {
    color: #54546D;
}

@media screen and (min-width: 480px) {
    .htmx-request.htmx-indicator {
        display: flex;
        width: 24px;
        height: 24px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #181616;
        color: #DCD7BA;
        font-size: 18pt;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .row {
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin-bottom: 10px;
        min-width: 300px;
    }

    h2 {
        font-size: 38pt;
        width: 100%;
        text-align: center;
    }

    .htmx-indicator {
        margin-top: 20px;
        display: none;
        font-size: 22pt;
        width: 100%;
        justify-content: center !important;
        align-items: center;

    }

    .htmx-indicator img {
        width: 32px;
        height: 32px;
        margin-left: 10px;
    }

    .htmx-request .htmx-indicator {
        display: flex;
        width: 24px;
        height: 24px;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    input {
        width: 100%;
        height: 70px;
        font-size: 22pt;
        background-color: #2A2A37;
        color: #938AA9;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        margin-top: 20px;
    }

    button {
        min-width: 300px;
        width: 90%;
        height: 70px;
        font-size: 22pt;
        background-color: #DCD7BA;
        color: #1F1F28;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
    }

    button:disabled,
    button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    #error {
        margin-top: 20px;
        font-size: 22pt;
        color: #C34043;
    }

    #message {
        margin-top: 20px;
        font-size: 22pt;
        color: #76946A;
    }
}

@media screen and (min-width: 768px) {

    h1,
    h2 {
        width: 90%;
        text-align: center;
    }

    .htmx-request.htmx-indicator {
        display: flex;
        width: 24px;
        height: 24px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #181616;
        color: #DCD7BA;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .row {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-bottom: 10px;
        min-width: 300px;
    }

    .htmx-indicator {
        margin-top: 10px;
        display: none;
        font-size: 14pt;
        width: 100%;
        justify-content: center !important;
        align-items: center;

    }

    .htmx-indicator img {
        width: 24px;
        height: 24px;
        margin-left: 10px;
    }

    .htmx-request .htmx-indicator {
        display: flex;
        width: 24px;
        height: 24px;
    }

    .container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    input {
        width: 100%;
        height: 30px;
        font-size: 14pt;
        background-color: #2A2A37;
        color: #54546D;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        margin-top: 10px;
    }

    button {
        min-width: 300px;
        width: 50%;
        height: 30px;
        font-size: 14pt;
        background-color: #DCD7BA;
        color: #1F1F28;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
    }

    button:hover {
        background-color: #C8C093;
    }

    button:disabled,
    button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    #error {
        margin-top: 10px;
        font-size: 14pt;
        color: #C34043;
    }

    #message {
        margin-top: 10px;
        font-size: 14pt;
        color: #76946A;
    }
}
